@media only screen and (min-width: 993px){
  .container {
    width: 90%;
  }
}
@font-face {
  font-family: Moons;
  src: url("../fonts/moons/Moons_of_Jupiter_Europa.ttf");
}
#main_page{
  background-image: url("../images/space.gif");
}
body{
  background: linear-gradient(90deg, #1350ff, #a6efff);
}
header{
  margin-top: 20px;
}
.row {
  margin-bottom: 0px;
}
.logo_image{
  width: 50px;
  height: 50px;
  border-radius: 7px;
}
.paragrapf_name{
  font-size: 28px;
  margin-top: 2px;
  font-family: Moons;
}
.text_enter{
  text-align: center;
  font-size: 44px;
  font-family: Moons;
}
.image-space{
  text-align: center;
}
/*.image-space IMG { position: relative;}
.merlins-menu IMG { position: relative;}
*/
.merlins-menu{
  background-image: url("../images/5c81b8c69b492bf34ea162ac934473ea.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 770px;
}
@media (max-width: 768px){
  .merlins-menu{
    max-height: 300px;
  }
}
.image-1 { left: 50px; top: 0px; }
.image-2 {
  left: -222px;
  bottom: 170px;
  width: 85px;
  opacity: 0;
}
.turbo-image {
  margin-top: 550px;
  left: 65px;
  width: 153px;
}
.sound-image{
  margin-top: 550px;
  right: 60px;
  width: 125px;
  float: right;
}
.turbo-image:hover{
  opacity: 0.8;
}
.sound-image:hover{
  opacity: 0.8;
}
.image-2:hover{
  opacity: 1;
}
.merlin_image{
  width: 100%;
}
@media (max-width: 768px){
  .image-1 { left: 22px; top: 0px; }
  .image-2 {
    left: -97px;
    bottom: 74px;
    width: 35px;
  }
  .turbo-image {
    bottom: 86px;
    left: 5px;
    width: 102px;
    margin-top: 150px;
  }
  .sound-image{
    bottom: 80px;
    right: 48px;
    width: 60px;
    margin-top: 150px;
  }
  .merlin_gif{
    max-height: 320px;
  }
}
.image-wizard{
  height: 350px;
}
.image-wizard-2{
  height: 350px;
}
.block_text_1{
  text-align: justify;
  text-align: center;
  margin: 15px 30px 0px 30px;
}
.block_text_2{
  text-align: justify;
  margin: 15px 30px 0px 30px;
}
.btn-proc{
  margin-bottom: 30px;
}
@media (max-width: 768px){
  .image-wizard{
    height: 150px;
  }
  .image-wizard-2{
    height: 150px;
  }
  .text_enter{
    font-size: 24px;
  }
}
.footer-first-page{
  height: 220px;
}
a{
  color: yellow;
}
.fa {
  padding: 7px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-envelope {
  background: green;
  color: white;
}
.animate_gif{
  max-height: 300px;
  margin-top: 8px;
}
#canvas{
  height: 125px;
  margin-top: 20px;
}
.copyright-mobile{
  display: none;
}
.copyright-desctop{
  display: block;
}
.scan_picture{
  width: 300px;
  max-height: 300px;
}
@media (max-width: 768px){
  .copyright-mobile{
    display: block;
    text-align: center;
  }
  .copyright-desctop{
    display: none;
  }
  #canvas{
    margin-top: 5px;
    height: 60px;
  }
  .animate_gif{
    max-width: 240px;
  }
  .scan_picture{
    width: 200px;
    max-height: 200px;
  }
}
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
footer {
  height: 56px;
}
#section2 {
  padding-bottom: 300px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
